@import "../../styles/bp.scss";

$azul: #1c0e49;
$naranja: #ff6700;
$naranja-int: #ff8349;
$naranja-claro: #f99500;
$sombra: #80808096;

.container{
    min-height: 80vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    z-index: 2000;
    .containerForm{
        .logo_commerce{
            width: auto;
            height: 4rem;
        }
        width: 100%;
        max-width: 450px;
        padding: 15px;
        margin: auto;
        margin-bottom: 0;
        border-radius: 5px;
        box-shadow: 3px 3px 7px 1px $sombra;
        background-color: white;
    }
}
.buttonContinue{
    background-color: $naranja;
    color: white;
}
@include respond-to("default"){
    .container{
        .containerForm{
            width: 100% ;
          main{
              form{
                  div{
                      button{
                        padding: .5rem .5rem;
                      }
                  }
              }
          }
        }
    }
}

.info_modal{
    display: none;
}
.info_modal_active{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(45,49,45,.6313725490196078);
    justify-content: center;
    align-items: center;
    display: flex;
    div{
        background-color: azure;
        border-radius: 10px;
        width: 33rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        // height: 8rem;
         justify-content: center;
        p{
            color: black;
            text-align: center;
            font-size: 1.2rem;
            padding: .5rem;
            margin-bottom: 2rem;
        }
        i{
            color:$azul;
            align-self: flex-end;
            font-size: 2rem;
            margin: .5rem .5rem 0 0;
            &:hover{
                color: $naranja;
            }
        }
    }
}


